{% extends 'pages/base.html' %}
{% block search %}
<div class='container' align="center">
    <div class='row' style="display: flex; justify-content: center;">
      {% for product in products %}
      <div class="card" style="width: 18rem; margin-left: 10px; margin-top: 20px; align: center;">
        <img src="{{product.image.url}}" class="card-img-top" alt="..." style="width: 262px; height:147px;">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <h5 class="card-title">{{product.price}}$</h5>
          <a href="{% url 'detail' %}?id={{product.id}}" class="btn btn-primary">View</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}