{% extends 'pages/base.html' %}
{% load static %}
{% block detail %}
<div class="container mt-5 mb-5" style="margin-bottom: 30px;">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <div class="card product_data">
                <div class="row">
                    {% for product in product %}
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4"><img id="main-image" src="{{product.image.url}}" width="500" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        {% csrf_token %}
                        <div class="mt-4 mb-3"><span class="text-uppercase text-muted brand">Shoes</span>
                            <input type="hidden" value="{{product.id}}" class="prod_id">
                            <h5 class="text-uppercase">{{product.name}}</h5>
                            <div class="price d-flex flex-row align-items-center">
                                <span class="act-price">{{product.price}}$</span>
                            </div>
                        </div>
                        <p class="about">{{product.detail}}</p>
                        <div class="d-flex" style="margin-bottom: 10px;">
                            <button class="btn btn-info decrementBtn" type="button" style="border-radius: 100px 0px 0px 100px; margin-right: 0px;">
                                -
                            </button>
                            <input type="text" name="quantity" class="form-control quantity-input text-center" style="width: 4rem;">
                            <button class="btn btn-info incrementBtn" type="button" style="border-radius: 0px 100px 100px 0px;">
                                + 
                            </button>
                        </div>    
                        <div style="margin-top: 10px;">
                            <h6 class="text-uppercase">Size</h6> <label class="radio"> <input checked name="size"
                                    type="radio" value="S">
                                <span>S</span> </label> <label class="radio"> <input name="size" type="radio" value="M">
                                <span>M</span> </label> <label class="radio"> <input name="size" type="radio" value="L">
                                <span>L</span> </label> <label class="radio"> <input name="size" type="radio"
                                    value="XL">
                                <span>XL</span> </label> <label class="radio"> <input name="size" type="radio"
                                    value="XXL">
                                <span>XXL</span> </label>
                        </div>
                        <div class="cart mt-4 align-items-center">
                            <button class="btn btn-danger text-uppercase mr-2 px-4 addtoCartBtn vUpdateBtn" style="margin-bottom: 20px;"
                                type="submit">Add to cart <i class="bi bi-cart" style="color: #fff;"></i></button>
                            <button class="btn btn-info text-uppercase mr-2 px-4" style="margin-bottom: 20px;"
                                type="submit">Add to wishlist <i class="bi bi-heart" style="color: #fff;"></i></button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- carousel -->
<div class="container-fluid justify-content-center">
    <div class="carousel slide" data-bs-ride="carousel" id="introCarousel" style="margin-top: 30px;">
        <!-- Inner -->
        <h2 style="text-align: center;">Các sản phẩm liên quan</h2>
        <div class="carousel-inner">
            <!-- Single item -->
            <div class="carousel-item active d-flex justify-content-center">
                {% for product in page.object_list %}
                <div class="card" style="width: 18rem; margin-left: 10px; margin-top: 20px; height: 23rem;">
                    <a href="{% url 'detail' %}?id={{product.id}}">
                        <img alt="..." class="card-img-top" src="{{product.image.url}}">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">{{product.price}}$</p>
                        <button class="btn btn-info update-cart addtoCartBtn vUpdateBtn" type="button" style="border-radius: 100px 0px 0px 100px; margin-right: 0px;">
                            + <i class="bi bi-cart-plus"></i>
                        </button>
                        <button class="btn btn-info" type="button" style="border-radius: 0px 100px 100px 0px;">
                            + <i class="bi bi-heart"></i>
                        </button>
                    </div>
                </div>
                {% endfor %}
            </div>    
        </div>
        <!-- Inner -->
    </div>
</div>
{% endblock %}